*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;

  font-family: sans-serif;
}

@mixin square($width) {
  width: $width;
  height: $width;
}

.card {
  position: relative;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 12.5%;

  border-radius: 15px;
  box-shadow: .2rem .1rem .1rem .1rem rgba(0, 0, 0, 0.2);
  overflow: hidden;

  > * {
    //border: 1px solid black;
    justify-content: center;

  }

  &:before {
    content: "";

    position: absolute;
    left: 0;

    height: 100%;
    width: 5px;

    background-color: red;
    //border: 10px solid black;
  }

  .time {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 50%;

    .scheduled-time {
      font-weight: bold;
      font-size: 1.5rem;
    }

    .duration {
      color: rgba(0, 0, 0, 0.4);
    }
  }

  .information__client {
    display: flex;
    align-items: center;

    img {
      @include square(45px);
      object-fit: cover;
      border-radius: 50%;
      margin-right: 10px;
    }

    .main-info {
      display: flex;
      flex-direction: column;

      .name {
        font-weight: bold;
      }

      .place {
        color: rgba(0, 0, 0, 0.4);

        i {
          color: midnightblue;
        }

      }
    }
  }

  .date-and-status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .date {
      font-weight: bold;
    }

    .status {
      $color: #376FFF;

      display: flex;
      align-items: center;

      font-size: .75rem;
      font-weight: bold;
      color: $color;

      &:before {
        content: "";

        margin-inline: 2px;

        border: 3.5px $color solid;
        border-radius: 50%;
      }
    }
  }

  .actions {
    display: flex;
    gap: 5px;


    button {
      font-size: 1.5rem;

      cursor: pointer;
      border: none;
      background-color: inherit;
      color: gray;
    }
  }
}

.nav {
  font-size: 2rem;

  ul {
    list-style: none;
    color: #010322;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

